.contact{
    height: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1{
            font-size: 78px;
            line-height: 88px;
        }
    }

        .formContainer {
            flex: 1;
            position: relative;

            .phoneSvg{
                stroke: orange;
                position: absolute;
                margin: auto;
            }

            form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea{
                padding: 16px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
            }

            button{
                padding: 16px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
            }

            }
        }
}